.text-center
  %h1.text-success= @note.title

  %p.lead= @note.text

  Tags:
  - if @note.tags.empty?
    .label-disabled.label
      (none)
  - else
    - for tag in @note.tags
      .label-info.label
        %a{ href: "/tags/#{tag}" }
          = tag

  %p.spacer

  Notebook:
  - if @note.notebook == ""
    .label-disabled.label
      (none)
  - else
    .label-info.label
      %a{ href: "/notebooks/#{@note.notebook}" }
        = @note.notebook

  %p
  .btn-lg.btn-default.btn
    %a{ href: "/note/#{@note.id}/edit" } Edit

